*{
    margin: 0;
    padding: 0;
}

body {
    background: transparent url('https://images7.alphacoders.com/109/1097969.jpg');
    background-repeat: fixed;
    background-size: cover;
    background-position: center;
    height: 0 auto;
}

#centroum{
    display: flex;
    align-items: center;
    align-content: center;
}

#icone-central {
    width: 1000px;
    margin: 70px;
    height: 670px;
    padding: 0;
    background-repeat: no-repeat;
    border-radius: 20px;
    background: transparent url('https://images.unsplash.com/photo-1553481187-be93c21490a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2FtZXxlbnwwfHwwfHw%3D&w=1000&q=80');
}

#cabeca-preco{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

#plano{
    color: white;
    font-family: arial;
    font-size: 45px;
    margin: 0px 0px;
}

#planos{
    color: rgb(80, 3, 80);
    font-family: arial;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 3px;
}

#centro-preco{
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
}

#preco{
    background-color: white;
    width: 300px;
    height: 500px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: inline-block;
    margin: 100px 0px;
    justify-content: center;
    
}

#preco-um{
    background-color: rgb(81, 184, 158);
    width: 300px;
    height: 640px;
    border-radius: 60px;
    display: inline-flex;
    margin: 70px 15px;
    justify-content: center;

}

#preco-dois{
    background-color: rgb(11, 126, 202);
    width: 300px;
    height: 640px;
    border-radius: 60px;
    display: inline-flex;
    margin: 70px 15px;
    justify-content: center;
}

#preco-tres{
    background-color: gold;
    width: 300px;
    height: 640px;
    border-radius: 60px;
    display: inline-flex;
    margin: 70px 15px;
    justify-content: center;    
}

#borda-dois{
    background-color: white;
    border: white;
}

#emote-preco-um{
    color: rgb(81, 184, 158);
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    top: -60px;
    font-size: 50px;
    padding: 30px;
    border-radius: 70px;
    border: 2px solid rgb(81, 184, 158);
    background-color: white;
    transition: 0.7s all;
}

#emote-preco-um:hover{
    transform: rotatey(360deg);
    transition: 0.7s all;
}

#emote-preco-dois{
    color: rgb(11, 126, 202);
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    top: -60px;
    font-size: 50px;
    padding: 30px;
    border-radius: 70px;
    border: 2px solid rgb(11, 126, 202);
    background-color: white;
    transition: 0.7s all;
}

#emote-preco-dois:hover{
    transform: rotate(360deg);
    transition: 0.7s all;
}

#emote-preco-tres{
    color: gold;
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    top: -60px;
    font-size: 50px;
    padding: 30px;
    border-radius: 70px;
    border: 2px solid gold;
    background-color: white;
    transition: 0.7s all;
}

#emote-preco-tres:hover{
    transform: rotate(360deg);
    transition: 0.7s all;
}

#emote-preco-umum{
    color: rgb(13, 233, 13);
    margin: 0px 40px;
}

#emote-preco-umumum{
    color: red;
    margin: 0px 40px;
}

#emote-preco-doisdois{
    color: rgb(13, 233, 13);
    margin: 0px 40px;
}

#emote-preco-doisdoisdois{
    color: red;
    margin: 0px 40px;
}

#emote-preco-trestres{
    color: rgb(13, 233, 13);
    margin: 0px 40px;
}

#botao-um{
    background-color: rgb(81, 184, 158);
    display: inline-block;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
}

#botao-dois{
    background-color: rgb(11, 126, 202);
    display: inline-block;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
}

#botao-tres{
    background-color: gold;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
}

#centro-umum h5{
    position: relative;
    left: -40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
}

#centro-umumum h5{
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#centro-umum{
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    top: -50px;
}

#centro-umum h2{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -20px;
    color: rgb(81, 184, 158);
}

#centro-umum h3{
    font-family: Arial, Helvetica, sans-serif;
}

#centro-doisdois h5{
    position: relative;
    left: -40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
}

#centro-doisdoisdois h5{
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#centro-doisdois{
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    top: -50px;
}

#centro-doisdois h2{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -20px;
    color: rgb(11, 126, 202);
}

#centro-doisdois h3{
    font-family: Arial, Helvetica, sans-serif;
}

#centro-trestres h5{
    position: relative;
    left: -40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto;
}

#centro-trestrestres h5{
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#centro-trestres{
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    top: -50px;
}

#centro-trestres h2{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -20px;
    color: gold;
}

#centro-trestres h3{
    font-family: Arial, Helvetica, sans-serif;
}

#icone-um-preco{
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
}

#centro-um{
    color: white;
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
}

#corpo1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#corpo2{
    display: flex;
    align-items: center;
    align-content: center;
}

#corpo3{
    align-items: center;
    align-content: center;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

#logos{
    display: flex;
    align-items: center;
}

#corpo1 img{
    width: 150px;
}

#centrodois{
    color: white;
    font-family: arial;
    width: 28%;
    font-size: 25px;
    display: flex;
    align-items: left;
    vertical-align: baseline;
    align-content: center;
    flex-direction: column;
    margin: 0px 90px;
}

#caixaum{
    align-content: flex-start;
    display: inline-block;
    width: 90%;
    margin: 0px 100px;
    text-align: left;
}

#primeiroparagrafo{
    color: rgb(165, 164, 164);
    font-family: arial;
    width: 400px;
    font-size: 20px;

}

#cor {
    background-color: red;
    display: inline-block;
    padding: 10px 10px;
    color: white;
    font-size: 15px;
    font-weight: 800;
    border-radius: 20px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    letter-spacing: 4px;
    margin-top: 40px;
    box-shadow: 0 0 5px red, 0 0 25px red;
    width: 200px;
}

.cabecalho {
    font-size: 1.8rem;
}

.cabecalho ul {
    height: 40px;
    background-color: black;
    opacity: 0.6;
    padding: 25px 50px;
    border-radius: 50px;
}

.cabecalho a, label {
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: 900; 
    /* font-weight: bold; */
    transition: 0.7s all;
}

.cabecalho a, label:hover{
    color: red;
}

.cabecalho a:hover {
    transition: 0.7s all;
    color: white;
    background-color: red;   
    margin: 5px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    padding: 10px 10px;
}

.menu{
    float: right;
}

.menu li {
    list-style: none;
    list-style-type: none;
    padding: 13px;
    margin-top: -8px;
    display: inline-block;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 10px;
    text-transform: uppercase;
    border-radius: 25px;
    transition: 0.7s all;
}

#patrocinio{
    color: white;
    font: 200;
    font-family: arial;
}
  
#logoum{
    margin: 20px;
    width: 150px;
    padding: 0;
    background-repeat: no-repeat;
    filter: grayscale(1);
}

#logoum:hover{
    width: 200px;
}

#logodois{
    margin: 20px;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    margin: 70px;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#icones{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#icone{
    width: 49%;
}

#font{
    color: red;
    font-family: arial;
    letter-spacing: 3px;
}

#fontdois{
    color: white;
    font-family: arial;
    width: 200px;
}

#paragrafodois{
        color: rgb(165, 164, 164);
        font-family: arial;
        width: 200px;
}

#icone-um {
    color: rgb(82, 36, 189);
    width: 400px;
    font-size: 30px;
}

#paragrafo-um{
    color: rgb(165, 164, 164);
    font-family: arial;
    width: 300px;

}

#icone-dois {
    color: red;
    width: 400px;
    font-size: 30px;
}

#paragrafo-dois{
    color: rgb(165, 164, 164);
    font-family: arial;
    width: 300px;
}


#icone-tres{
    color: greenyellow;
    width: 400px;
    font-size: 30px;
}

#paragrafo-tres{
    color: rgb(165, 164, 164);
    font-family: arial;
    width: 300px;
}

#icone-quatro{
    color: orange;
    width: 400px;
    font-size: 30px;
}

#paragrafo-quatro{
    color: rgb(165, 164, 164);
    font-family: arial;
    width: 300px;
}

#imagens-portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: center;
    text-align: left;
    width: 455px
}

#corpo-portfolio{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

#corpo-imagem{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

#portfolio{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#portfolio-um{
    color: red;
    font-family: arial;
    letter-spacing: 3px;
}

#portfolio-dois{
    color: white;
    font-family: arial;
    font: 500;
    font-size: 50px;
}

#imagem-portfolio-um {
    width: 300px;
    padding: 0;
    height: 400px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background: transparent url('https://cdn6.campograndenews.com.br/uploads/noticias/2020/03/14/2t8o3ne5g0e8k.jpg');
    background-position: center;
    transition: 1.5s all;
}

#imagem-portfolio-um:hover{
    transform: rotatey(360Deg);
    transition: 1.5s all;
}

#imagem-portfolio-dois {
    width: 300px;
    padding: 0;
    height: 400px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background: transparent url('https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_Fortnite_image1600w.jpg');
    background-position: center;
    transition: 1.5s all;
}

#imagem-portfolio-dois:hover{
    transform: rotatey(360Deg);
    transition: 1.5s all;
}

#imagem-portfolio-tres {
    width: 300px;
    padding: 0;
    height: 400px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background: transparent url('https://overwatch2-static.playoverwatch.com/68a9b3f11e33114ffbb29df0a331d5aa61f4b4c9/static/images/share.jpg');
    background-position: center;
    transition: 1.5s all;
}

#imagem-portfolio-tres:hover{
    transform: rotatey(360Deg);
    transition: 1.5s all;
}

#portfolio-font-um{
    color: white;
    font-family: arial;
    width: 400px;
    display: inline-block;
    position: relative;
    left: 65px;
}

#font-um{
    color: white;
}

#portfolio-font-dois{
    color: white;
    font-family: arial;
    width: 400px;
    display: inline-block;
    position: relative;
    left: 66px;
}

#portfolio-font-tres{
    color: white;
    font-family: arial;
    width: 400px;
    display: inline-block;
    position: relative;
    left: 66px;
}

#emote-um{
    color: white;
    width: 10px;
    height: 10px;
    background-color: orange;
    display: flex;
    padding: 5px 10px;
    font-weight: 800;
    font-size: 10px;
    position: relative;
    left: -69px;                    
}

#emote-um:hover{
    width: 20px;
    height: 20px;
}

#emote-dois{
    color: white;
    width: 10px;
    height: 10px;
    background-color: orange;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 800;
    font-size: 10px;
    position: relative;
    left: -69px;                 
}

#emote-tres{
    color: white;
    width: 10px;
    height: 10px;

    background-color: orange;
    display: inline-block;
    padding: 5px 10px ;
    font-weight: 800;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;  
    position: relative;
    left: -69px;                  
}

#paragrafo-portfolio-um{
    color: rgb(165, 164, 164);
    font-family: arial;
    width: 300px;

}

#paragrafo-portfolio-dois{
    color: rgb(165, 164, 164);
    font-family: arial;
    width: 300px;

}

#paragrafo-portfolio-tres{
    color: rgb(165, 164, 164);
    font-family: arial;
    width: 300px;

}

#roda-pe-font-um{
    color: red;
    font-family: arial;
    display: inline;
}

#roda-pe-font-um:hover{
    color: white;
}

#roda-pe-geral{
    width: 65%;
    background-color: #222;
    margin: 0px 10px;
    border-radius: 15px;
}

#emote-roda-pe-um{
    color: red;
    width: 10px;
    height: 10px;           
}

#emote-roda-pe-um:hover{
    color: white;
}

#roda-pe-font-dois{
    color: red;
    font-family: arial;
    letter-spacing: 3px;
    margin-bottom: -20px;
}

#roda-pe-font-doisdois{
    color: white;
    font-family: arial;
    width: 700px;
    font-size: 50px;
    display: inline-block;
}

#nome-roda-pe-um{
    color: white;
    font-family: arial;
    font-size: 20px;
    display: inline-block;
}


#cargo-roda-pe-um{
    color: gray;
    font-family: arial;
    font-size: 13px;
    margin-top: 0px;
}

#imagem-roda-pe-um {
    width: 50px;
    padding: 0;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    margin: -10px 3px;
}

#paragrafo-roda-pe-um{
    color: whitesmoke;
    font-family: arial;
    width: 330px;
    font-size: 13px;
    margin: 10px;
}

#estrela{
    float: right;
    margin: 20px ;
}

#roda-pe-um{
    align-items: center;
    align-content: center;
    width: 100%;
    /* display: flex; */
    text-align: center;
    margin: 0 auto;
    flex-wrap: nowrap;
}

#roda-pe-um:hover{
    color: white;
}

#paragrafo-roda-pe-dois{
    color: whitesmoke;
    font-family: arial;
    width: 330px;
    margin: 10px;
    font-size: 13px;
}

#paragrafo-roda-pe-tres{
    color: whitesmoke;
    font-family: arial;
    width: 330px;  
    font-size: 13px;
    margin: 10px;
}

#emote-cargo-um{
    color: rgb(247, 236, 88);
    font-size: 10px;    
}

#roda-pe-testimonial{
    color: red;
    font-family: arial;
}

#roda-pe-testimonial:hover{
    color: white;
}

#emote-roda-pe-tres{
    color: red;
    width: 10px;
    height: 10px;
    margin: 10px;                   
}

#emote-roda-pe-tres:hover{
    color: white;
}

#testimonial{
    align-content: flex-start;
    display: inline-block;
    width: 90%;
    margin: 0px 90px;
    text-align: left;
}

#testimonials{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#testimonials:hover{
    color: white;
}

#testimonials h5{
    display: inline-block;
}

#cabeca-um{
    color: red;
    font-family: arial;
    letter-spacing: 3px;
    margin-bottom: -20px;
}

#cabeca-time{
    align-content: flex-start;
    display: flex;
    width: 90%;
    margin: 0px 100px;
    text-align: left;
}

#cabeca-dois{
    color: white;
    font-family: arial;
    width: 355px;
    font-size: 50px;
    display: inline-block;
}

#imagens-time{
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
}

#corpo-time-dois{
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

#imagem-time-um{
    width: 300px;
    padding: 0;
    height: 400px;
    border-radius: 20px;
}

#imagem-time-dois{
    width: 300px;
    padding: 0;
    height: 400px;
    border-radius: 20px;
}

#imagem-time-tres{
    width: 300px;
    padding: 0;
    height: 400px;
    border-radius: 20px;
}

#nome-time-um{
    color: white;
    font-family: arial;
    width: 400px;
    font: 500;
}

#nome-time-dois{
    color: white;
    font-family: arial;
    width: 400px;
    font: 500;
}

#nome-time-tres{
    color: white;
    font-family: arial;
    width: 400px;
    font: 500;
}

#cargo-time-um{
    color: rgb(165, 164, 164);
    font-family: arial;
    margin-top: -10px;
}

#cargo-time-dois{
    color: rgb(165, 164, 164);
    font-family: arial;
    margin-top: -10px;
}

#cargo-time-tres{
    color: rgb(165, 164, 164);
    font-family: arial;
    margin-top: -10px;

}

#roda-pe-time{
    color: red;
    font-family: arial;
}

#roda-pe-time:hover{
    color: white;
}

#emote-time{
    color: red;
    width: 10px;
    height: 10px;
}

#emote-time:hover{
    color: white;
}

#pe-time{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#pe-time h5{
    display: inline-block;
}

#play h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    height: 100px;
}

#emote-fim{
    color: rgb(185, 181, 181);
    font-size: 30px;
    width: 60px;
    height: 60px;
}

#emote-fim-dois{
    color: rgb(185, 181, 181);
    font-size: 30px;
    width: 60px;
    height: 60px;
}

#emote-fim-tres{
    color: rgb(185, 181, 181);
    font-size: 30px;
    width: 60px;
    height: 60px;
}

#emote-fim-quatro{
    color: rgb(185, 181, 181);
    font-size: 30px;
    width: 60px;
    height: 60px;
}


#emote-fim:hover{
    color: #1877f2;
}

#emote-fim-dois:hover{
    color: #2aa9e0;
}

#emote-fim-tres:hover{
    color: #9146ff;
}

#emote-fim-quatro:hover{
    color: #ff0000;
}

#play{
    align-items: center;
    align-content: center;
    margin: 30px;
    text-align: left;
    justify-content: center;
}

#play h5{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

#fim{
    align-content: center;
    display: flex;
    width: 90%;
    margin: 0px 50px;
    text-align: center;
}

#casa{
    align-items: center;
    align-content: center;
    margin: 70px;
    text-align: left;
    justify-content: center;
}

#casa h4:hover{
    color: white;
}

#casa h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;   
}

#casa h4{
    color:white;
    font-family: 'Helvetica Neue',;
    color: gray;
    height: 5px;
}

#pagina{
    align-items: center;
    align-content: center;
    margin: 70px;
    text-align: left;
    justify-content: center;
}

#pagina h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
}

#pagina h4{
    color:white;
    font-family: 'Helvetica Neue',;
    color: gray;
    height: 5px;
}

#redes{
    align-items: center;
    align-content: center;
    margin: 70px;
    text-align: left;
    justify-content: center;
}

#redes h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

#redes h4{
    color:white;
    font-family: 'Helvetica Neue',;
    color: gray;
    height: 5px;
}

#portfolio-fim{
    align-items: center;
    align-content: center;
    margin: 70px;
    text-align: left;
    justify-content: center;
}

#portfolio-fim h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

#portfolio-fim h4{
    color:white;
    font-family: 'Helvetica Neue',;
    color: gray;
    height: 5px;
}

#localizacao-contato{
    background-color: rgb(17, 17, 17);
    width: 360px;
    height: 600px;
    align-content: center;
    justify-content: center;
    display: inline-block;
}

#branco-contato{
    background-color: white;
    width: 900px;
    height: 600px;
    align-content: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#cabeca-contato{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    height: auto;
    margin: 30px 320px;
}

#localizacao-contato h3{
    color: white;
    width: 300px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 25px;
}

#localizacao-contato h4{
    color: white;
    height: 5px;
    font-weight: 400;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 25px;
}

#emoteum-contato{
 color: white;
}

#tudo-contato{
    align-content: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

#branco-contato h3{
    color: black;
    height: 0px;
    width: 280px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 18px;
}

#branco-contato h4{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px;
    font-weight: 500;
    height: 0px;
}

#nome-contato{  
    font-weight: 100;
    font-size: 20px;
    border-color: rgb(196, 194, 191);
    border-width: 1px;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 5px;
    width: 370px; 
}

#email-contato{  
    font-weight: 100;
    font-size: 20px;
    border-color: rgb(196, 194, 191);
    border-width: 1px;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 5px;
    width: 370px; 
}

#texto-contato{  
    font-weight: 100;
    font-size: 20px;
    border-color: rgb(196, 194, 191);
    border-width: 1px;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 5px;
    width: 350px; 
}

#nome-sobre{
    display: inline-flex;
}

#email-telefone{
    display: inline-flex;
}

#enviar-contato{
    background-color: black;
    align-content: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 300;
    border-radius: 20px;
    margin: 20px 20px; 
    padding: 10px 370px;
}

.mensagem-contato{
    width: 800px !important;
    height: 150px;
    /* margin: 0 !important; */
    padding: 0 !important;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block !important;
}

.owl-dots{
    text-align: center;
}

.owl-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white !important;
    margin: 3px;
}

.owl-dot .active {
    width: 18px !important;
    background-color: white !important;
}

@media (max-width: 900px) {
    .cabecalho  {
        font-size: 1.8rem;
        width: 100%;
        height: 100%;
        padding: 8px;
        text-align: center;
    }

    #icone-central{
        width: 78%;
        height: 100%;
        margin: 19px;
    }
    #centroum{
        width: 100%;
        height: 100%;
        display: table-row-group;
        align-items: center;
        justify-content: center;
        text-align: inherit;
        margin: -50px;
    }
    #corpo2 {
        display: inline-block;
        align-items: center;
        align-content: center;
    }
    #icone {
        width: 74%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #paragrafo-um {
        width: 389px;
    }
    #paragrafo-dois {
        width: 389px;
    }
    #paragrafo-tres {
        width: 389px;
    }
    #paragrafo-quatro {
        width: 389px;
    }
    #portfolio-font-um {
        width: 360px;
    }
    #portfolio-font-dois {
        width: 360px;
    }
    #portfolio-font-tres {
        width: 360px;
    }
    #imagens-portfolio {
        display: flex;
        flex-wrap: wrap;
        align-items: inherit;
        align-content: center;
        justify-content: center;
        text-align: left;
        width: 390px;
    }
    #paragrafo-portfolio-um {
        width: 285px;
    }
    #paragrafo-portfolio-um {
        width: 285px;
    }
    #paragrafo-portfolio-um {
        width: 285px;
    }
    #roda-pe-font-doisdois {
        color: white;
        font-family: arial;
        width: 350px;
        font-size: 34px;
        display: inline-block;
    }
    #icones {
        display: flex;
        align-items: center;
        align-content: center;
        width: 134%;
        flex-wrap: wrap;
    }
    #centrodois {
        color: white;
        font-family: arial;
        width: 65%;
        font-size: 25px;
        display: flex;
        vertical-align: baseline;
        align-content: center;
        flex-direction: column;
        margin: 0px 60px;
        text-align: inherit;
    }
    #primeiroparagrafo {
        color: rgb(165, 164, 164);
        font-family: arial;
        width: 326px;
        font-size: 20px;
        align-items: left;
        justify-content: center;
    }
    #cor {
        background-color: red;
        display: block;
        padding: 8px 10px;
        color: white;
        font-size: 15px;
        font-weight: 800;
        border-radius: 20px;
        margin: 31px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.5s;
        overflow: hidden;
        letter-spacing: 4px;
        margin-top: 40px;
        box-shadow: 0 0 5px red, 0 0 25px red;
        width: 200px;
    }
    .cabecalho ul {
        height: 276px;
        background-color: black;
        opacity: 0.6;
        padding: 25px 50px;
        border-radius: 50px;
    }
    #patrocinio{
        width: 100%;
        height: 100%;
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
    #logos{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    #corpo-imagem{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    #testimonial{
        width: 57%;
        height: 10%;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: inline-grid;
    }
    #roda-pe-um{
        width: 100%;
        height: 100%;
        display: block;
        text-align: center; 
    }
    #corpo3{
        align-items: center;
        align-content: center;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    #roda-pe-geral{
        width: 100%;
        background-color: #222;
        margin: 0px 10px;
        border-radius: 15px;
    }
    #cabeca-time{
        align-items: center;
        align-content: center;
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    #corpo-time-dois{
        text-align: center;
        width: 100%;
        display: block;
    }
    #fim{
        text-align: center;
        width: 100%;
        display: block;
    }
    #cabeca-contato {
        margin: 30px 135px;
    }
    #tudo-contato {
        align-content: center;
        justify-content: center;
        display: flex;
        margin: 0 18px;
        flex-direction: column;
    }
    #localizacao-contato {
        width: 350px;
        height: 170px;
    }
    #branco-contato {
        background-color: white;
        flex-direction: column;
        width: 363px;
        height: 702px;
    }
    #nome-sobre {
        display: table-row-group;
    }
    #email-telefone {
        display: table-row-group;
    }
    .mensagem-contato {
        width: 330px !important;
        height: 150px;
        display: flex;
    }
    #enviar-contato {
        padding: 10px 130px;
    }
    #nome-contato {
        width: 320px;
    }  
    #email-contato {
        width: 320px;
    }
}


